*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1,header p {
    text-align: center;
    color: brown;
    font-size: 1.2em;
}
nav li {
    list-style-type: none;
    font-size: 0.8em;
    margin-right: 5px;
    margin-top: 5px;
}
nav a {
    text-decoration: none;
}

header ul {
    float: right;
}

main {
    width: 80%;
    height: 100%;
    line-height: 50px;
    background: #666;
    color: chartreuse;
    margin: 10px auto;
}

footer {
    text-align: center;
    background: #444;
    color: white;
}

footer footerR {
    display: inline;
    margin: 20px;
}